.homepageHeader {
  text-align: center;
  position: relative;
  background:
    linear-gradient(-90deg, #6d6d6d25 1px, transparent 0),
    linear-gradient(#6d6d6d25 1px, transparent 0),
    linear-gradient(-90deg, #6d6d6d25 1px, transparent 0),
    linear-gradient(#6d6d6d25 1px, transparent 0),
    linear-gradient(transparent 6px, transparent 0, transparent 156px, transparent 0),
    linear-gradient(-90deg, #6d6d6d25 1px, transparent 0),
    linear-gradient(
      -90deg,
      transparent 6px,
      transparent 0,
      transparent 156px,
      transparent 0
    ),
    linear-gradient(#6d6d6d25 1px, transparent 0),
    0 0;
  background-size:
    32px 32px,
    32px 32px,
    256px 256px,
    256px 256px,
    256px 256px,
    256px 256px,
    256px 256px,
    256px 256px;

  &:after {
    content: "";
    inset: 70% 0 0;
    position: absolute;
    background: linear-gradient(transparent, var(--ifm-background-color));

    [data-theme="light"] & {
      background: linear-gradient(transparent, var(--ifm-background-surface-color));
    }
  }
}

.homepageFeaturesSection {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;

  svg {
    height: 100px;
    width: 100px;
  }
}
