<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/deskulpt.svg" />
    <title>Deskulpt Canvas</title>

    <script type="importmap">
      {
        "imports": {
          "@deskulpt/react": "/@deskulpt/react/index.js",
          "@deskulpt/apis": "/@deskulpt/apis/index.js"
        }
      }
    </script>
  </head>

  <body>
    <div id="canvas"></div>
    <!-- <script type="module" crossorigin src="../default_deps_dist/react/index.js"></script>
    <script type="module" crossorigin src="../default_deps_dist/apis/index.js"></script> -->
    <!-- <script type="module" crossorigin src="../src/@deskulpt/react/index.ts"></script>
    <script type="module" crossorigin src="../src/@deskulpt/apis/index.ts"></script> -->
    <script type="module" src="../src/canvas/main.tsx"></script>
  </body>
</html>
